In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import openpyxl
import seaborn as sns
import numpy as np

pd.set_option('display.max_columns', None) # Todas as colunas
pd.set_option('display.max_rows', None) # Todas as linhas
pd.options.display.float_format = '{:.2f}'.format

In [26]:
# Carregando o arquivo CSV

df_original = pd.read_csv('/Users/ryan.oliveira/Desktop/puc/ppl-cd-pcd-sist-int-2025-1-grupo-5-2025-1/assets/data/state_idh_pib.csv') #Dataframe

In [27]:
# Verificando as colunas e primeiras linhas
df_original.head()

,Idade,Faixa de idade,Genero,Cor/Raça/Etnia,PDC,Estado_onde_mora,Uf,Regiao_onde_mora,Mudou_de_estado,Regiao_de_Origem,Nivel_de_Ensino,Area_de_Formacao,Situacao_atual_de_trabalho,Setor,Num_func_empresa_que_trabalha,Cargo_Atual,Nível,Faixa_Salarial,Salario_Medio,Tempo_de_experiencia_na_area_de_dados,Atual_forma_de_trabalho,Papeis/cargos_do_time/chapter_de_dados,Analytics_Engineer,Engenharia_de_Dados/Data_Engineer,Analista_de_Dados/Data_Analyst,Cientista_de_Dados/Data_Scientist,Database_Administrator/DBA,Analista_de_Business_Intelligence/BI,Arquiteto_de_Dados/Data_Architect,Data_Product_Manager/DPM,Business_Analyst,SQL,R,Python,C/C++/C#,NET,Java,Julia,SAS/Stata,Visual Basic/VBA,Scala,Matlab,Rust,PHP,JavaScript,Não utilizo nenhuma linguagem,Azure (Microsoft),Amazon Web Services (AWS),Google Cloud (GCP),Oracle Cloud,IBM,Servidores On Premise/Não utilizamos Cloud,Cloud Própria,Microsoft PowerBI,Qlik View/Qlik Sense,Tableau,Metabase,Superset,Redash,Looker,Looker Studio(Google Data Studio),Amazon Quicksight,Mode,Alteryx,MicroStrategy,IBM Analytics/Cognos,SAP Business Objects/SAP Analytics,Oracle Business Intelligence,Salesforce/Einstein Analytics,Birst,SAS Visual Analytics,Grafana,TIBCO Spotfire,Pentaho,Fazemos todas as análises utilizando apenas Excel ou planilhas do google,Não utilizo nenhuma ferramenta de BI no trabalho,IDHM,PIB_2021_OR
0,31,30-34,Masculino,Branca,Não,Minas Gerais (MG),MG,Sudeste,1.00,NaN,Doutorado ou Phd,Computação / Engenharia de Software / Sistemas...,Empregado (CLT),Finanças ou Bancos,Acima de 3.000,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês,14000.50,de 3 a 4 anos,Modelo híbrido flexível (o funcionário tem lib...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.77,857593.00
1,30,30-34,Masculino,Branca,Não,Espírito Santo (ES),ES,Sudeste,1.00,NaN,Graduação/Bacharelado,Computação / Engenharia de Software / Sistemas...,Empreendedor ou Empregado (CNPJ),Finanças ou Bancos,de 101 a 500,Analista de BI/BI Analyst,Pleno,de R$ 6.001/mês a R$ 8.000/mês,7000.50,de 3 a 4 anos,Modelo 100% remoto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.77,186337.00
2,37,35-39,Feminino,Amarela,Não,São Paulo (SP),SP,Sudeste,1.00,NaN,Graduação/Bacharelado,Computação / Engenharia de Software / Sistemas...,Empregado (CLT),Finanças ou Bancos,Acima de 3.000,Analista de Dados/Data Analyst,Júnior,de R$ 6.001/mês a R$ 8.000/mês,7000.50,de 1 a 2 anos,Modelo híbrido flexível (o funcionário tem lib...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.81,2719751.00
3,22,22-24,Masculino,Preta,Não,São Paulo (SP),SP,Sudeste,1.00,NaN,Estudante de Graduação,Computação / Engenharia de Software / Sistemas...,"Desempregado, buscando recolocação",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.81,2719751.00
4,34,30-34,Masculino,Branca,Não,Minas Gerais (MG),MG,Sudeste,1.00,NaN,Doutorado ou Phd,Economia/ Administração / Contabilidade / Fina...,Empreendedor ou Empregado (CNPJ),Outra Opção,de 101 a 500,Analista de Dados/Data Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês,5000.50,Menos de 1 ano,Modelo 100% remoto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.77,857593.00

In [28]:
# Verificando as dimensões do CSV. 
df_original.shape

(5293, 78)

In [29]:
# Verificando informações do arquivo
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5293 entries, 0 to 5292
Data columns (total 78 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Idade                                                                     5293 non-null   int64
 1   Faixa de idade                                                            5293 non-null   object
 2   Genero                                                                    5293 non-null   object
 3   Cor/Raça/Etnia                                                            5293 non-null   object
 4   PDC                                                                       5293 non-null   object
 5   Estado_onde_mora                                                          5172 non-null   object
 6   Uf                                                                        5169 non-null   object
 7   Regiao_onde_mora                                                          5169 non-null   object
 8   Mudou_de_estado                                                           5172 non-null   float64
 9   Regiao_de_Origem                                                          1064 non-null   object
 10  Nivel_de_Ensino                                                           5293 non-null   object
 11  Area_de_Formacao                                                          5180 non-null   object
 12  Situacao_atual_de_trabalho                                                5293 non-null   object
 13  Setor                                                                     4753 non-null   object
 14  Num_func_empresa_que_trabalha                                             4753 non-null   object
 15  Cargo_Atual                                                               3857 non-null   object
 16  Nível                                                                     3857 non-null   object
 17  Faixa_Salarial                                                            4753 non-null   object
 18  Salario_Medio                                                             4651 non-null   float64
 19  Tempo_de_experiencia_na_area_de_dados                                     4753 non-null   object
 20  Atual_forma_de_trabalho                                                   4753 non-null   object
 21  Papeis/cargos_do_time/chapter_de_dados                                    859 non-null    object
 22  Analytics_Engineer                                                        859 non-null    float64
 23  Engenharia_de_Dados/Data_Engineer                                         859 non-null    float64
 24  Analista_de_Dados/Data_Analyst                                            859 non-null    float64
 25  Cientista_de_Dados/Data_Scientist                                         859 non-null    float64
 26  Database_Administrator/DBA                                                859 non-null    float64
 27  Analista_de_Business_Intelligence/BI                                      859 non-null    float64
 28  Arquiteto_de_Dados/Data_Architect                                         859 non-null    float64
 29  Data_Product_Manager/DPM                                                  859 non-null    float64
 30  Business_Analyst                                                          859 non-null    float64
 31  SQL                                                                       3772 non-null   float64
 32  R                                                                         3772 non-null   float64
 33  Python                                                                    3772 non-null   float64
 34  C/C++/C#                                                                  3772 non-null   float64
 35  NET                                                                       3772 non-null   float64
 36  Java                                                                      3772 non-null   float64
 37  Julia                                                                     3772 non-null   float64
 38  SAS/Stata                                                                 3772 non-null   float64
 39  Visual Basic/VBA                                                          3772 non-null   float64
 40  Scala                                                                     3772 non-null   float64
 41  Matlab                                                                    3772 non-null   float64
 42  Rust                                                                      3772 non-null   float64
 43  PHP                                                                       3772 non-null   float64
 44  JavaScript                                                                3772 non-null   float64
 45  Não utilizo nenhuma linguagem                                             3772 non-null   float64
 46  Azure (Microsoft)                                                         3613 non-null   float64
 47  Amazon Web Services (AWS)                                                 3613 non-null   float64
 48  Google Cloud (GCP)                                                        3613 non-null   float64
 49  Oracle Cloud                                                              3613 non-null   float64
 50  IBM                                                                       3613 non-null   float64
 51  Servidores On Premise/Não utilizamos Cloud                                3613 non-null   float64
 52  Cloud Própria                                                             3613 non-null   float64
 53  Microsoft PowerBI                                                         3772 non-null   float64
 54  Qlik View/Qlik Sense                                                      3772 non-null   float64
 55  Tableau                                                                   3772 non-null   float64
 56  Metabase                                                                  3772 non-null   float64
 57  Superset                                                                  3772 non-null   float64
 58  Redash                                                                    3772 non-null   float64
 59  Looker                                                                    3772 non-null   float64
 60  Looker Studio(Google Data Studio)                                         3772 non-null   float64
 61  Amazon Quicksight                                                         3772 non-null   float64
 62  Mode                                                                      3772 non-null   float64
 63  Alteryx                                                                   3772 non-null   float64
 64  MicroStrategy                                                             3772 non-null   float64
 65  IBM Analytics/Cognos                                                      3772 non-null   float64
 66  SAP Business Objects/SAP Analytics                                        3772 non-null   float64
 67  Oracle Business Intelligence                                              3772 non-null   float64
 68  Salesforce/Einstein Analytics                                             3772 non-null   float64
 69  Birst                                                                     3772 non-null   float64
 70  SAS Visual Analytics                                                      3772 non-null   float64
 71  Grafana                                                                   3772 non-null   float64
 72  TIBCO Spotfire                                                            3772 non-null   float64
 73  Pentaho                                                                   3772 non-null   float64
 74  Fazemos todas as análises utilizando apenas Excel ou planilhas do google  3772 non-null   float64
 75  Não utilizo nenhuma ferramenta de BI no trabalho                          3772 non-null   float64
 76  IDHM                                                                      5169 non-null   float64
 77  PIB_2021_OR                                                               5169 non-null   float64
dtypes: float64(58), int64(1), object(19)
memory usage: 3.1+ MB

In [30]:
# Todas as colunas com seus tipos de dados correspondente
print(df_original.dtypes)

Idade                                                                         int64
Faixa de idade                                                               object
Genero                                                                       object
Cor/Raça/Etnia                                                               object
PDC                                                                          object
Estado_onde_mora                                                             object
Uf                                                                           object
Regiao_onde_mora                                                             object
Mudou_de_estado                                                             float64
Regiao_de_Origem                                                             object
Nivel_de_Ensino                                                              object
Area_de_Formacao                                                             object
Situacao_atual_de_trabalho                                                   object
Setor                                                                        object
Num_func_empresa_que_trabalha                                                object
Cargo_Atual                                                                  object
Nível                                                                        object
Faixa_Salarial                                                               object
Salario_Medio                                                               float64
Tempo_de_experiencia_na_area_de_dados                                        object
Atual_forma_de_trabalho                                                      object
Papeis/cargos_do_time/chapter_de_dados                                       object
Analytics_Engineer                                                          float64
Engenharia_de_Dados/Data_Engineer                                           float64
Analista_de_Dados/Data_Analyst                                              float64
Cientista_de_Dados/Data_Scientist                                           float64
Database_Administrator/DBA                                                  float64
Analista_de_Business_Intelligence/BI                                        float64
Arquiteto_de_Dados/Data_Architect                                           float64
Data_Product_Manager/DPM                                                    float64
Business_Analyst                                                            float64
SQL                                                                         float64
R                                                                           float64
Python                                                                      float64
C/C++/C#                                                                    float64
NET                                                                         float64
Java                                                                        float64
Julia                                                                       float64
SAS/Stata                                                                   float64
Visual Basic/VBA                                                            float64
Scala                                                                       float64
Matlab                                                                      float64
Rust                                                                        float64
PHP                                                                         float64
JavaScript                                                                  float64
Não utilizo nenhuma linguagem                                               float64
Azure (Microsoft)                                                           float64
Amazon Web Services (AWS)                                                   float64
Google Cloud (GCP)                                                          float64
Oracle Cloud                                                                float64
IBM                                                                         float64
Servidores On Premise/Não utilizamos Cloud                                  float64
Cloud Própria                                                               float64
Microsoft PowerBI                                                           float64
Qlik View/Qlik Sense                                                        float64
Tableau                                                                     float64
Metabase                                                                    float64
Superset                                                                    float64
Redash                                                                      float64
Looker                                                                      float64
Looker Studio(Google Data Studio)                                           float64
Amazon Quicksight                                                           float64
Mode                                                                        float64
Alteryx                                                                     float64
MicroStrategy                                                               float64
IBM Analytics/Cognos                                                        float64
SAP Business Objects/SAP Analytics                                          float64
Oracle Business Intelligence                                                float64
Salesforce/Einstein Analytics                                               float64
Birst                                                                       float64
SAS Visual Analytics                                                        float64
Grafana                                                                     float64
TIBCO Spotfire                                                              float64
Pentaho                                                                     float64
Fazemos todas as análises utilizando apenas Excel ou planilhas do google    float64
Não utilizo nenhuma ferramenta de BI no trabalho                            float64
IDHM                                                                        float64
PIB_2021_OR                                                                 float64
dtype: object